JavaScriptProyecto1/package-lock.json
JavaScriptProyecto1/package.json
JavaScriptProyecto1/node_modules

JavaScriptProyecto2/package-lock.json
JavaScriptProyecto2/package.json
JavaScriptProyecto2/node_modules/
JavaScriptProyecto2/all.js